@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 10px;
}

body {
	color: white;
	background-color: black;
}
h3 {
	@apply text-l font-bold;
}
p {
	@apply text-base;
}

@layer utilities {
	.gradient-text {
		background: linear-gradient(to right, #e7e7e7, #9e9e9e, #f2f2f2, #949494);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.gradient-button {
		@apply flex justify-center items-center text-base font-semibold p-[1.9rem] rounded-[0.3rem] hover:scale-[1.03] transition duration-300 bg-gradient-to-r from-[#627EEA] from-[50%] to-[#EC4467];
		box-shadow: 0 0 3rem 1.4rem #b643ed4a;
	}
}
